body {
    margin: 0;
}

.header-image img {
    height: 300px;
}

.about-image img {
    height: 400px;

}

.progress-image img {
    height: 50px;
    width: 50px;
}

.feature-image img {
    height: 80px;
    width: 80px;
}

.client-image img {
    height: 100px;
    width: 100px;
}